COMPOSE_PROJECT_NAME=monitoring
HOST_INSTANCE_ID=<HOST_INSTANCE_ID>
GF_SERVER_ROOT_IP=<GF_SERVER_IP>
GRAFANA_ADMIN_USER=<admin_login>
GRAFANA_ADMIN_PASSWORD=<admin_password>
LOKI_INGEST_USER=<loki_ingest_user>
LOKI_INGEST_PASS_HASH=<LOKI_INGEST_PASS_HASH>
# Connectivity checker defaults for the monitoring host
CONNECTIVITY_POLL_INTERVAL=10s
CONNECTIVITY_REQUEST_TIMEOUT=5s
METRICS_INTERVAL=15
METRICS_PROCESS_LIMIT=20
METRICS_GPU=false
