COMPOSE_PROJECT_NAME=monitoring
GF_SERVER_ROOT_IP=<GF_SERVER_IP>
GRAFANA_ADMIN_USER=<admin_login>
GRAFANA_ADMIN_PASSWORD=<admin_password>
LOKI_INGEST_USER=<loki_ingest_pass>
LOKI_INGEST_PASS_HASH=<LOKI_INGEST_PASS_HASH>
