:8005 {
  reverse_proxy grafana:3000
}

:8445 {
  tls /etc/caddy/certs/ip.crt /etc/caddy/certs/ip.key
  reverse_proxy grafana:3000
}

:8006 {
  reverse_proxy loki:3100
}

:8446 {
  tls /etc/caddy/certs/ip.crt /etc/caddy/certs/ip.key
  basicauth {
    {$LOKI_INGEST_USER} {$LOKI_INGEST_PASS_HASH}
  }
  reverse_proxy loki:3100
}


